@mixin df-ai {
    display: flex;
    align-items: center;
}

@mixin df-ai-jc {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin btn {
    border: none;
    background: #02897A;
    color: #FFFFFF;
    border-radius: 4px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    &:hover {
        a {
            color: #02897A;
        }
        background-color:#FFFFFF;
    }
}